/**************************************
WHAT IS THIS? 
***************************************/

h1:first-child {
	margin: 0;
}
ul {
	margin: 0;
}

/**************************************
EVERYTHING 
***************************************/

body {
	margin: 0;
	padding: 0;
	background-color: none;
}

/**************************************
PAGE ONE - PHOTO 1
***************************************/

#page1_title {
	min-height: 100vh;
	background: url(pics/LadyMurasaki-213.jpg) no-repeat center fixed;
	background-size: cover;
	text-align: center;

	margin: 0;
	padding: 0;
}

#page1_title h1 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 350%;
	color: yellow;

	text-align: center;
	padding-top: 30%;

}

/**************************************
PAGE 2 - PHOTO 2
***************************************/

#pic_2 {
	min-height: 100vh;
	position: relative;	
	background: url(pics/LadyMurasaki-215.jpg) no-repeat center fixed;
	background-size: cover;
}


/**************************************
PAGE 3 - ABOUT
***************************************/

#about ul {
	list-style: none;
	text-align: left;
	padding-top: 10%;
	padding-bottom: 5%;

	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 350%;
	color: yellow;

	min-height: 100vh;

	background-color: black;
	
}

/**************************************
PAGE 4 - PHOTO 3
***************************************/

#pic_3 {
	min-height: 100vh;
	position: relative;	
	background: url(pics/LadyMurasaki-202.jpg) no-repeat center fixed;
	background-size: cover;
}

#pic_3 h1 {
	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 350%;
	color: yellow;

	text-align: center;
	padding-top: 30%;

}

/**************************************
PAGE 5 - AMBER
***************************************/

#amber {
	min-height: 100vh;
	position: relative;
	background: url(pics/LadyMurasaki-190.jpg) no-repeat center fixed;
	background-size: cover;
	padding-top: 0;
	margin-top: 0;
}

#amber ul {
	list-style: none;
	text-align: left;
	padding-top: 20%;

	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 350%;
	color: yellow;
}

/**************************************
PAGE 5 - STEPHEN
***************************************/

#stephen {
	min-height: 100vh;
	position: relative;
	background: url(pics/LadyMurasaki-175.jpg) no-repeat center fixed;
	background-size: cover;
	padding-top: 0;
	margin-top: 0;
}

#stephen ul {
	list-style: none;
	text-align: left;
	padding-top: 30%;
	padding-left: 25%;

	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 350%;
	color: yellow;
}

/**************************************
PAGE 6 - TYLER
***************************************/

#tyler {
	min-height: 100vh;
	position: relative;
	background: url(pics/LadyMurasaki-193.jpg) no-repeat center fixed;
	background-size: cover;
	padding-top: 0;
	margin-top: 0;
}

#tyler ul {
	list-style: none;
	text-align: left;
	padding-top: 40%;
	padding-left: 10%;

	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 350%;
	color: yellow;
}

/**************************************
PAGE 7 - JONATHAN
***************************************/

#jonathan {
	min-height: 100vh;
	position: relative;
	background: url(pics/LadyMurasaki-198.jpg) no-repeat center fixed;
	background-size: cover;
	padding-top: 0;
	margin-top: 0;
}

#jonathan ul {
	list-style: none;
	text-align: left;
	padding-top: 30%;
	padding-left: 60%;

	font-family: 'Libre Baskerville', serif;
	font-weight: 700;
	font-size: 350%;
	color: yellow;
}







